.so-widget-sow-cta-default-0b02fafd1fc9 .sow-cta-base {
  background-color: #95bf0d;
}
.so-widget-sow-cta-default-0b02fafd1fc9 .sow-cta-base .sow-cta-text .sow-cta-title {
  color: #ffffff;
  
  
  
}
.so-widget-sow-cta-default-0b02fafd1fc9 .sow-cta-base .sow-cta-text .sow-cta-subtitle {
  color: #ffffff;
  
  
  
}
.so-widget-sow-cta-default-0b02fafd1fc9 .sow-cta-base .sow-cta-text {
  float: left;
}
.so-widget-sow-cta-default-0b02fafd1fc9 .sow-cta-base .so-widget-sow-button {
  float: right;
  margin-left: 1em;
}